@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-image:url('img/yellowtile.jpg');
    background-color:black;
}

div {
    margin:auto;
    padding:20px;
    width:300px;
    text-align:center;
}

img {
    border-radius:150px;
}

p {
    font-size:40px;
 font-family: 'Anton', sans-serif;
}

div a {
    padding:10px;
    background-color:blue;
    border-radius:25px;
    color:white;
    text-decoration:none;
    font-family:'Poppin', sans-serif;
}